# Email Provider: "convertkit" | "mailerlite" | "mailchimp"
NEXT_PUBLIC_EMAIL_PROVIDER=mailerlite

# ConvertKit
CONVERTKIT_API_KEY=
CONVERTKIT_FORM_ID=

# MailerLite
MAILERLITE_API_KEY=
MAILERLITE_GROUP_ID=

# Mailchimp
MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=
MAILCHIMP_SERVER_PREFIX=us1

# Analytics (optional)
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_META_PIXEL_ID=
